{% load static %}
<div class="responsive-container-block outer-container" , id="aboutid"></div>
    <div class="responsive-container-block inner-container">
        <p class="text-blk section-head-text">
            Meet Our Expert Instructors
        </p>
        <p class="text-blk section-subhead-text">
            Grow Yourself with Us
        </p>
        <div class="responsive-container-block">
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                <div class="team-card">
                    <div class="img-wrapper">
                        <img class="team-img" src="{% static '../static/images/about.png' %}">
                    </div>
                    <p class="text-blk name">
                        Harsh Jain
                    </p>
                    <p class="text-blk position">
                        Instructor
                    </p>
                    <div class="social-media-links">
                        <a href="https://www.linkedin.com/in/harsh-jain-92b67b20a/" target="_blank">
                           <img width="25" height="25" src="https://img.icons8.com/color/25/linkedin.png" alt="linkedin"/>
                        </a>
                        <a href="https://leetcode.com/iamharsh07/" target="_blank">
                            <img width="24" height="24" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/external-level-up-your-coding-skills-and-quickly-land-a-job-logo-color-tal-revivo.png" alt="Leetcode"/>
                        </a>
                        <a href="http://www.instagram.com/" target="_blank"></a>
                            <img
                                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                        </a>
                    </div>
                </div>
            </div>
            <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
                <div class="team-card">
                    <div class="img-wrapper">
                        <img class="team-img"
                            src="{% static '../static/images/aman.jpg' %}">
                    </div>
                    <p class="text-blk name">
                        Aman
                    </p>
                    <p class="text-blk position">
                        Instructor
                    </p>
                    <div class="social-media-links">
                        <a href="https://www.linkedin.com/in/aman-agarwal-65a674215/" target="_blank">
                            <img width="25" height="25" src="https://img.icons8.com/color/25/linkedin.png" alt="linkedin"/>
                        </a>
                        <a href="https://leetcode.com/amanagarwal247776/" target="_blank">
                             <img width="24" height="24" src="https://img.icons8.com/external-tal-revivo-color-tal-revivo/24/external-level-up-your-coding-skills-and-quickly-land-a-job-logo-color-tal-revivo.png" alt="Leetcode"/>
                        </a>
                        <a href="http://www.instagram.com/" target="_blank">
                            <img
                                src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/gray-insta.svg">
                        </a>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>