<div class="container-fluid navbar-style py-3"></div>
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">


            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <h2 class="nav" href="/">CODE BAZAR</h2>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#aboutid">Mentors</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#serviceid">Courses</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#harshid">Testimonials</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#contactid">Contact</a>
                        </li>
                        <li class="nav-item"></li>
                            <a class="nav-link" href="{% url 'login' %}">Login</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>
</div>