<div class="container-fluid mt-5 about-style" id="serviceid"></div>
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <h1 class="text-center main-heading">Our Courses</h1>
            <p class="text-center sub-heading">A One-Way Junction for your all Problems!</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services settings">
                            <div class="icon">
                               <img width="120" height="120" src="https://img.icons8.com/color/48/backend-development--v1.png" alt="backend-development--v1"/>>
                            </div>
                            <h4>Data Structures and algorithms</h4>
                            <p>A Comprehsive Tutorials which deep dives you into the learning</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services speedup">
                            <div class="icon">
                                <img width="120" height="120" src="https://img.icons8.com/color/48/c-cute.png" alt="c-cute"/>
                            </div>
                            <h4>Most Aksed C Interview questions</h4>
                            <p>This section contains hand made notes for C progarmming</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services privacy">
                            <div class="icon">
                                <img width="120" height="120" src="https://img.icons8.com/color/48/code.png" alt="code"/>
                            </div>
                            <h4>Top 100 Interview questions</h4>
                            <p>These questions helps you to revise before the last minute of your interview.</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services backups">
                            <div class="icon">
                                <img width="120" height="120" src="https://img.icons8.com/color/48/source-code.png" alt="source-code"/>
                            </div>
                            <h4>Master Dynamic Programming</h4>
                            <p>This thread covers all the pattern problems based on DP</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services ssl">
                            <div class="icon">
                                <img width="120" height="120" src="https://img.icons8.com/color/48/sliding-child.png" alt="sliding-child"/>
                            </div>
                            <h4>Master Sliding Window</h4>
                            <p>This thread contains all the important questions based on sliding window</p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box">
                        <div class="our-services database">
                            <div class="icon">
                               <img width="120" height="120" src="https://img.icons8.com/color/48/webcam-man.png" alt="webcam-man"/>
                            </div>
                            <h4>Interview experiences</h4>
                            <p>This section contains experiences of various companies.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>